body {
  background-color: Wheat;
  font-size: 20px;
  font-family: Times;
  margin: 0;
  padding: 0;
}

h1 {
  color: royalblue;
  font-size: 30px;
  font-family: Arial;
}

table,
th,
td {
  font-size: 12px;
  border: 1px solid black;
}


.container {
  padding: 10px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#tab-section {
  padding: 20px;
}

#tab-section p {
  margin-bottom: 20px;
}

#tab-section button.logout {
  float: right;
  background-color: #444;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.tab-bar {
  display: flex;
  background-color: black;
  gap: 4px;
  /* Small spacing between buttons */
  padding: 4px;
  flex-wrap: wrap;
  /* allow wrapping on small screens */
}

.tablink {
  padding: 10px 16px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.tablink:hover {
  background-color: #333;
}

.tablink.active-tab {
  background-color: red;
}

.tab-content {
  display:none;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 10px;
}

.tab-content.visible {
  display: block;
}
#fullname{
  color:blue;
}