body {
    background-color: Wheat;
    font-size: 20px;
    font-family: Times;
}

h1 {
    color: blue;
    font-size: 30px;
    font-family: Arial;
}

table,th,td {
    border: 1px solid black;
}

.bigfondandhidden{
    font:25px/1.5 "Times New Roman", Times, serif;
}